{{=<% %>=}}
<div>
	<core-course-module-description description="<% intro %>" component="mod_hvp" componentId="<% cmid %>"></core-course-module-description>

    <ion-card>
      <ion-card-content>
          <div class="h5p-iframe-wrapper">
              <iframe
                      style="min-height: 200px; height: 100%; width:100%; border:none;"
                      src="<% config.wwwroot %>/mod/hvp/view.php?id=<% cmid %>">
              </iframe>
          </div>
      </ion-card-content>
    </ion-card>
</div>
