{{=<% %>=}}
<div>
	<core-course-module-description description="<% intro %>" component="mod_hvp" componentId="<% cmid %>"></core-course-module-description>

    <ion-card>
      <ion-card-content>
          <iframe src="<% config.wwwroot %>/mod/hvp/embed.php?id=<% cmid %>" style="min-height: 200px; height: 100%; width:100%; border:none;" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
          <script src="<% config.wwwroot %>/mod/hvp/library/js/h5p-resizer.js" charset="UTF-8"></script>
      </ion-card-content>
    </ion-card>
</div>


