{{=<% %>=}}
<div>
	<core-course-module-description description="<% intro %>" component="mod_hvp" componentId="<% cmid %>"></core-course-module-description>

    <ion-card>
      <ion-card-content>
          <div class="h5p-iframe-wrapper">
          <iframe id="h5p-iframe-{{{contentid}}}"
                  class="h5p-iframe"
                  data-content-id="{{{contentid}}}"
                  style="height:1px"
                  src="about:blank"
                  frameBorder="0"
                  scrolling="no">
          </iframe>
          </div>
      </ion-card-content>
    </ion-card>
</div>
